*{
	box-sizing: border-box;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}
.header-form {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}
.footer-form {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}
[class*="col-"] {
  width: 100%;
}
@media only screen and (min-width: 768px){
	.col-1 {width: 45%;}
	.col-2 {width: 45%;}
}
@media only screen and (min-width: 600px) {
	.col-s-1 {width: 45%;}
	.col-s-2 {width: 45%;}
}
.row-form{
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.main_data_form{
  width: 50%;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.form_input{
  width: 100%;
  max-width: 200px;
}
.messg_area{
  height: 80%;
  min-height: 75px;
}


body {
  background-color: #584E4A;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; }