body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10vh;
  position: fixed;
  z-index:50;
  background-color: rgba(255,255,255,0.9);
  font-family: Arial,Helvetica,sans-serif;

}
.logo{
  letter-spacing: 5px;
  font-size: 20px;
  font-family: cursive;
}
.Navbaritems{
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.Navbaritems li{
  list-style: none;
}
.Navbaritems a{
  color: black;
  text-decoration: none;
  font-weight: 5;
  font-size: 12px;
}
.Navbaritems a:active{
  color: blue;
}
.Navbaritems a:hover{
  color: blue;
}
.burger{
  display: none;
  cursor:pointer;
}
.burger div{
  width: 20px;
  height: 2px;
  margin: 5px;
  background-color: black;

}
@media screen and (max-width:1024px)
{
  body{
    overflow-x: hidden;
  }
  .burger{
    display: block;
  }
    .logo{
    font-size: 5vh;
  }
  .burger div{
    width:8vw;
    height:0.5vh;
    margin: 10px;
    background-color: black;
  }
  .Navbaritems{
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0px;
    height: 90vh;
    top:10vh;
    background-color:rgba(255,255,255,0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    width:40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
    .Navbaritems a{
    font-size: 30px;
  }
}
.burger-active{
  transform: translateX(0%);
}
.close .line1{
  transform: rotate(45deg)translate(13px,14px);
}
.close .line2{
  opacity: 0;

}
.close .line3{
  transform: rotate(-45deg) translate(13px,-14px);
}

.heading2 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 15.4px;
	color: #00305b;
}
.heading3 {
	font-family: "Arial", "Lucida Grande", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 20px;

}

.paragraphs{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 20px;
	color: #0F4C85;
}
.parallax {
	background-image: url("sunsettree.jpg");
	height: 800px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.content {
  position: relative;
  top: 0;
  left:0;
  margin: 0;
  height: 100%;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 40%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
}

#white_heading {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 42px;
	font-style: normal;
	font-variant: normal;
}

#blue_heading {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 42px;
	font-style: normal;
	font-variant: normal;
	color: #00305b;
	font-weight: 700;
}

.rightcontent {
  list-style-type: square;
  font-size: 200%;
  height: auto;
  right: 0;
  width:55%;
  position: absolute;
  overflow-x: hidden;
  background-color:white ;
  margin: 0;
}

.left {
  display: inline-block;
  height: 70%;
  left: 0;
  width: 40%;
  position: absolute;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: #ccdef0;
}

@media screen and (max-width:800px) {
    .right {
    width:100%;
    position:relative;
	}
}
@media screen and (max-width:800px) {
  .content {
    width: 90%;
    height: 60%;
    position:relative;
    top:25%;
    left: 5%;
}
@media screen and (max-width:800px) {
   .left {
    width:100%;
    height: 150px;
    position:relative;
	}
}
@media screen and (max-width:800px) {
   #heading {
   	font-size: 36px;
   }
}
@media screen and (max-width:800px) {
   .parallax {
   	height: 500px;
   }
}
@media screen and (max-width:800px) {
   .rightcontent {
   	width: 80%;
   	left:5%;
   }
}
