*{
  box-sizing: border-box;
}
.form_row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="cols-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}
.form_header {
  color: #ffffff;
  padding: 15px;
  background-color: #116466;
}
.form_footer {
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
  padding-bottom: 40px;
}
[class*="cols-"] {
  width: 100%;
}

.form_row{
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.main_data_form{
  width: 50%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.form_input{
  width: 100%;
  max-width: 200px;
}
.messg_area{
  height: 80%;
  min-height: 75px;
}
 input[type=text]:hover{
   background-color: lightblue;
}
textarea:hover{
  background-color: lightblue;
}
input[type=text]:focus{
  border-color: blue;
}
input[type=submit]{
    background-image: linear-gradient(to bottom, #f53b57, #ff3f34);
    /* background-color: #116466; */
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 40px;
}

input[type=submit]:hover{
  opacity: 30%;
}
.form_div{
  /* background-image: url("../img/bg_form.jpg"); */
  background-size: contain;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.cols-1{
  color: #66fcf1;
}
.cols-2{
  color: #66fcf1;
}
.contact_links{
  display: flex;
  width: 100%;
  padding: auto;
  justify-content: center;
  background-color: #116466;
}
.contact_links_data{
  margin: 20px auto 20px;
  display: inline-flex;
  justify-content: center;
}
.contact_link_img{
  height: 47px;
  margin:7px 0 5px;
  padding-left: 3px;
  padding-right: 3px;

}
.contact_link_img:hover{
  opacity: 20%;
}


@media only screen and (min-width: 768px){
  .cols-1 {width: 45%;}
  .cols-2 {width: 45%;}
}
@media only screen and (min-width: 600px) {
  .cols-s-1 {width: 45%;}
  .cols-s-2 {width: 45%;}
  .contact_link_img{
    padding-left: 15px;
    padding-right: 15px;
  }
  

}

