/* *{
  box-sizing: border-box;
}
.form_row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="cols-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
} */
.form_header {
  color: #ffffff;
  padding: 15px;
  background-color: #116466;
} /*
.form_footer {
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
  padding-bottom: 40px;
}
[class*="cols-"] {
  width: 100%;
}

.form_row{
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.main_data_form{
  width: 50%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.form_input{
  width: 100%;
  max-width: 200px;
}
.messg_area{
  height: 80%;
  min-height: 75px;
}
 input[type=text]:hover{
   background-color: lightblue;
}
textarea:hover{
  background-color: lightblue;
}
input[type=text]:focus{
  border-color: blue;
}
input[type=submit]{
    background-image: linear-gradient(to bottom, #f53b57, #ff3f34);  */
    /* background-color: #116466; */
   /* border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 40px;
}

input[type=submit]:hover{
  opacity: 30%;
}
.form_div{ */
  /* background-image: url("../img/bg_form.jpg");
  background-size: contain;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.cols-1{
  color: #66fcf1;
}
.cols-2{
  color: #66fcf1;
} */
.contact_links{
  display: flex;
  width: 100%;
  padding: auto;
  justify-content: center;
  background-color: #116466;
}
.contact_links_data{
  margin: 20px auto 20px;
  display: inline-flex;
  justify-content: center;
}
.contact_link_img{
  height: 47px;
  margin:7px 0 5px;
  padding-left: 3px;
  padding-right: 3px;

}
.contact_link_img:hover{
  opacity: 20%;
} 


/* @media only screen and (min-width: 768px){
  .cols-1 {width: 45%;}
  .cols-2 {width: 45%;}
}
@media only screen and (min-width: 600px) {
  .cols-s-1 {width: 45%;}
  .cols-s-2 {width: 45%;}
  .contact_link_img{
    padding-left: 15px;
    padding-right: 15px;
  } */
  


#feedback-page{
	text-align:center;
}

#form-main{
  width:100%;
  height: 100%;
	float:left;
  padding-top:0px;
  /* display: flex; */
}



#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 30%;
	/* float: left; */
	/* left: 50%; */
  /* position: absolute; */
  margin-left: auto;
  margin-right: auto;
  margin-top:30px;
  border-radius: 7px;
	/* margin-left: -260px; */
  /* -moz-border-radius: 7px;
  -webkit-border-radius: 7px; */
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
/* #name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
} */

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

/* @media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
} */

@media only screen and (max-width: 1024px){
  #form-div{
    width:60%;
  }

  .feedback-input{
    padding:13px 0px 13px 0px;
  }

  .feedback-input:focus{
    padding:13px 0px 13px 0px;
  }
}

