html, body{
    margin:0px;
    padding:0px;
    scroll-behavior: smooth;
}

.slideshow_container{
  width:100%;
  background-color: black;
  height: 45vw;
}

.slideshow img {
  vertical-align: middle;
}

.slideshow {
  box-sizing: border-box;
}

.slideshow{
  position: relative;
  width: 60%;
  height: 100%;
  padding-top: 3vw;
  margin-left: auto;
  margin-right: auto;
}

.slides{
  position: relative;
  width: 100%;
  height: 35vw;
  overflow-x: hidden;
}

.slide{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 2s ease;
}

.slide img{
  width: 100%;
  height: 100%;
}

.slide_prev, .slide_next{
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.slide_next{
  right:0;
  border-radius: 3px 0 0 3px;
}

.slide_prev:hover, .slide_next:hover{
  background-color: rgba(0, 0, 0, 0.8);
}

.slide_caption{
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.slide_row{
  overflow-x: scroll;
  white-space: nowrap;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slides_row::-webkit-scrollbar{
  display: none;
}

.slide_column{
  display: inline-block;
  width: 25%;
  height: 10vw; 
}

.slide_column img{
  width: 100%;
  height: 95%;
}

.slide_thumb{
  opacity: 0.5;
}

.slide_active, .slide_thumb:hover{
  opacity: 1;
  border-style: solid;
  border-width:5px;
  border-color: white;
}

#caption{
  padding:5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:1.5em;
  font-weight: bold;
  margin:0px;
}

@media screen and (max-width:1024px){
  .slideshow{
    width:90%;
  }

  .slide_column{
    width:33.33%;
  }

  .slides{
    height: 50vw;
  }

  .slide_column{
    height: 20vw;
  }

  .slideshow_container{
    height: 60vw;
  }
}

@media screen and (max-width:500px){
  .slideshow_container{ 
    height:65vw;
  }
}