html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

.masonry { /* Masonry container */
    column-count: 4;
    column-gap: 1em;
    width: 100%;
  }
  
  .item { /* Masonry bricks or child elements */
    background-color: rgb(255, 255, 255);
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    overflow: hidden;
  }

  .item img{
      width: 100%;
      height: auto;
      display: block;
      animation-name: comein;
      animation-duration: 0.3s;
      animation-iteration-count: 1;
  }

  @media only screen and (min-width: 1024px) {
    .masonry {
      column-count: 4;
    }
  }
  
  /* Masonry on medium-sized screens */
  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    .masonry {
      column-count: 3;
    }
  }
  
  /* Masonry on small screens */
  @media only screen and (max-width: 767px){
    .masonry {
      column-count: 2;
    }
  }

@keyframes comein{
  0%{
    /* width: 0%; */
    /* height: 0%; */
    transform: translate3d(100%,100%,0);
  }
  100%{
    /* width: 100%; */
    /* height: 100%; */
    transform: translate3d(0,0,0);
  }
}

.item img{
  transition: transform 0.5s ease, filter 0.5s ease;
}

.overlay{
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 1;
  text-decoration: none;
}

.overlay p{
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  top:50%;
  font-size:2em;
  font-weight: 800;
}
